.body{
  
}
.input{
  
}
.output{
  background: rgb(176, 176, 255);
  border:2px blue solid;
}
.output>h1{
  color:blue;
  font-weight: 100;
}
.output>h3{
  color:red;
}
.textarea{
  border:1px blue solid;
  

}