.body{
  
}
.input{
  
}
.output{
  background: rgb(176, 176, 255);
  border:2px blue solid;
}
.output>h1{
  color:blue;
  font-weight: 100;
}
.output>h3{
  color:red;
}
.textarea{
  display: block;
  margin-bottom: 0;
  width: 100%;
  height: 20%;
  

}
.form-control{
  height: auto;
}

